/* Accordion Styles */
.invoiceQAccordion {
    background: white;
    border: 0.5px solid var(--mantine-color-deepBlue-1);
    border-radius: 8px;
    padding: 3px;
    transition: border-color 0.3s ease;
}

.invoiceSectionHeader {
    height: 384px;
    width: 100%;
    margin-bottom: 96px;
}

.invoiceContainer{
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
    width: 100%;
}


.invoicesCards{
    height: 458px;
}

.invoiceQAccordionTitle {
    transition: color 0.3s ease;
}

.invoiceQAccordionTitle:hover {
    color: #215aef;
}

.invoiceQAccordionChevron {
    transition: transform 0.3s ease;
}

.invoiceQAccordion[data-active="true"] .invoiceQAccordionChevron {
    transform: rotate(90deg);
}


.invoiceQAccordion[data-active="true"] {
    border-bottom: none;
}

@media (max-width: 1200px) {
    .invoiceContainer {
        justify-content: flex-start;
        height: fit-content;
        padding: 20px;

    }

    .invoiceSectionHeader {
        height: fit-content;
        width: 100%;
        margin-bottom: 96px;
    }

    .invoicesCards{
        height: fit-content;
        padding: 16px;
    }
}

